<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
    <listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
        <listEntry value="/算法基础_排序_快速排序/src/com/算法基础_排序_快速排序/Initial.java"/>
    </listAttribute>
    <listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
        <listEntry value="1"/>
    </listAttribute>
    <stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="com.算法基础_排序_快速排序.Initial"/>
    <stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="算法基础_排序_快速排序"/>
</launchConfiguration>
